* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(31, 31, 31);
}

body > h1 {
    text-align: center;
    margin-bottom: 5px;
    color: white;
}

body > p {
    text-align: center;
    margin-bottom: 40px;
    color: white;
    font-weight: 500;
}

.cardWrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: rgb(77, 77, 77);
    padding: 20px;
    border: rgb(77, 77, 77) solid 1px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 3px 3px 10px;
}

.card > h2 {
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.card > p {
    color: white;
}

.info {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.info img {
    width: 30px;
}

.info p {
    color: white;
    font-weight: 500;
}

.choices {
    display: flex;
    gap: 20px;
    height: 200px;
}

.cardWrapper button {
    border: white solid 5px;
    border-radius: 10px;
    flex: 1 1 0;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    box-shadow: 3px 3px 10px;
}

#playerChoices button {
    cursor: pointer;
    transition-duration: 50ms;
    transition-property: transform;
}

#playerChoices button:hover {
    transform: translateY(-5px);
}

#rock {
    background-image: url(images/rock.jpg);
}

#paper {
    background-image: url(images/paper.jpg);
}

#scissors {
    background-image: url(images/scissors.jpg);
}

.cardWrapper button p {
    color: white;
    background-color: rgba(31, 31, 31, 0.705);
    padding: 2px 5px;
    font-weight: 600;
}

/* End screen */
.endScreen {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.endScreen img {
    width: 200px;
    margin-bottom: 20px;
}

.endScreen p {
    margin-bottom: 40px;
    color: white;
}

.endScreen button {
    border: white solid 5px;
    background-color: white;
    border-radius: 10px;
    padding: 2px 5px;
    font-weight: 500;
    cursor: pointer;
}

.endScreen button:hover {
    background-color: grey;
    border-color: grey;
}
